VITE_SUPABASE_URL=https://fprotrgzfycsqoekzahk.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwcm90cmd6Znljc3FvZWt6YWhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3MTcwMTcsImV4cCI6MjA5ODI5MzAxN30.fagthuVvl7kZsjGarb6jP9Zpb2NfMZowd_uZVtTsbwU
VITE_API_URL=http://localhost:3001/api
