PORT=3001
SUPABASE_URL=https://fprotrgzfycsqoekzahk.supabase.co/rest/v1/
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwcm90cmd6Znljc3FvZWt6YWhrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjcxNzAxNywiZXhwIjoyMDk4MjkzMDE3fQ.-WAAICO_P6f5_fIkZZCIgdvrHLXFGtulXb4JxH39Yy4
GROQ_API_KEY=your-groq-api-key
FRONTEND_URL=http://localhost:5173
